@import "tailwindcss";
@import "vazirmatn/Vazirmatn-font-face.css";
body {
  margin: 0;
  font-family: "Vazirmatn", sans-serif;
}

#root {
  text-align: center;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-weight: 500;
  color: var(--text-h);
  font-size: 46px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
p {
  margin: 0;
}
